$page-background: #F3F6F0;
$background-color: #ECEFE9;
$text-colour: #3F413C;
$secondary-text-colour: #82847F;
$border-colour: #dfe2dc;


@mixin shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.container {
    @include shadow;
    
    background-color: $background-color;
    border: 1px solid $border-colour;
    box-sizing: border-box;
}




// $primary